body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
header {
  height: 412px;
  width: 100vw;
  position: relative;
  /* background-image: url(./assets/header.avif); */
}

header img {
  object-fit: cover;
  height: 420px;
  width: 100vw;
}

nav {
  position: absolute;
  width: 100vw;
  height: 72px;
  top: 0px;
  color: white;
}

nav .innerNav {
  height: 72px;
  width: 1100px;
  margin-left: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .innerNav span:hover{
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 25px;
}
nav li {
  list-style: none;
  font-size: large;
}
nav li:hover{
  cursor: pointer;
}

.intro {
  position: absolute;
  width: 100vw;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.intro span {
  font-size: 70px;
  font-weight: bolder;
  font-family: Verd;
}

.intro p {
  width: 800px;
  word-spacing: 4px;
  height: 48px;
  font-size: 35px;
  font-family: Okra, Helvetica, sans-serif;
}

.intro img {
  width: 300px;
  height: 60px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 720px;
  margin-left: -68px;
  margin-top: -20px;
}

.location-search {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  padding: 6px;
  align-items: center;
  border-radius: 7px;
}

.location-search img {
  width: 20px;
  height: 20px;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  margin-right: 15px;
  color: #949494;
  font-size: 15px;
}

.dropdown .Option {
  color: #ff7878;
  background-color: white;

}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-left: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  width: 300px;
  font-size: 15px;
}

.search-input:focus,
.dropdown:focus {
  border-color: #007bff;
  border: none;
}

.cards {
  margin: 50px;
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 100px 40px 100px;
}
.card {
  position: relative;
  width: 353px;
  height: 222px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.card img {
  width: 353px;
  height: 210px;
  object-fit: cover;
}

.cards .card .info {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 343px;
  top: 143px;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 0px;
}

.info span {
  font-size: 23px;
  color: #262626;
}

.info p {
  margin-top: 0px;
  font-size: 18px;
  color: #5b5b5b;
  font-family: "Times New Roman", Times, serif;
}

/* Collection CSS */

.collection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.collection .col_img {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}

.collection .col_head {
  height: 47px;
}

.collection .col_para {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: rgb(55, 55, 55);
  display: flex;
  align-items: center;
  height: 25px;
  align-content: space-around;
  justify-content: space-between;
  margin: 15px 0px 25px 0px;
}

.collection .col_para span {
  color: rgba(224, 53, 70, 0.638);
}
.collection .card {
  height: 320px;
  width: 268px;
}
.collection .col_img .col_card {
  height: 320px;
  width: 268px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.col_card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.collection .col_info {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 275px;
  width: 100%;
}

.col_info h4 {
  margin: 0px 0px 0px 8px;
  font-size: 20px;
  font-weight: 100;
}

.col_info span {
  margin: 0px 0px 0px 8px;
}

/* Location class Start */
.location {
  margin-top: 50px;
}
.location .loc_head p {
  color: rgb(54, 54, 54);
  font-size: 2.1rem;
  line-height: 1.2;
  font-weight: 400;
}
.localities {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.localities .loc_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 357px;
  height: 79px;
  border-radius: 5px;
  padding: 0px 10px 0px 8px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.localities .loc_btn:hover{
  cursor: pointer;
}
.loc_desc p {
  font-size: 23px;
  margin-bottom: 5px;
  margin-top: 5px;

  font-weight: 400;
  color: rgb(28, 28, 28);
}

.loc_desc span {
  color: gray;
  size: 20px;
}
.loc_See_more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 372px;
  height: 79px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.loc_See_more:hover{
  cursor: pointer;
}
/* App download class start */

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 251, 247);
  margin-top: 100px;
}

.app .app_img {
  width: 410px;
  height: 450px;
  overflow: hidden;
  object-fit: fit;
}

.app .app_img img {
  width: 410px;
  height: 450px;
}

.step {
  width: 450px;
  height: 395px;
  /* background-color: #ff7878; */
}
.step h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(28, 28, 28);
  font-weight: 500;
  font-size: 3.4rem;
}
.step p {
  margin-top: 25px;
  color: rgba(54, 54, 54, 0.66);
  font-size: 18px;
}

.step .apps {
  display: flex;
  gap: 10px;
}

.step .apps img {
  width: 137px;
  height: 40px;
}
.step .apps img:hover{
  cursor: pointer;
}

.app .radio_input {
  margin-bottom: 10px;
}
.app .radio_input input:hover{
  cursor: pointer;
}
.step .email {
  width: 450px;
  height: 48px;
  margin-top: 30px;
  font-size: 20px;
}

.step .email input {
  width: 292px;
  height: 40px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 3px;
  /* padding-left: 10px; */
}
.step .phone {
  display: flex;
  position: relative;
  margin-top: 30px;
  /* background-color: #9eb81e; */
  position: relative;
  width: 450px;
  height: 48px;
}
.step .wrap {
  display: flex;
  width: 292px;
  height: 44px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
}
.tel_input {
  height: 42px;
  position: absolute;
  left: 70px;
  border: none;
}
#countryCode {
  position: absolute;
  width: 69px;
  height: 42px;
  border: none;
  padding-left: 15px;
}
.phone_btn {
  position: absolute;
  left: 300px;
  top: 1px;
}
.step button {
  background-color: #ff7878;
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 44px;
}
.step button:hover{
  cursor: pointer;
}
input[type="radio"] {
  transform: scale(1.5); /* Increase the size by 1.5 times */
  margin-right: 10px; /* Add some space between the radio and label */
}

.explore {
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
}

.explore .nearby {
  width: 1100px;
  height: 492px;
  margin-top: 50px;
  margin-left: 100px;
}
.nearby p{
  color: #262626;
  font-weight: 200;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nearby span{
  color: #262626;
  font-size: 18px;
  font-weight: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.explore_btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.explore_btn:hover{
  cursor: pointer;
}


/* footer css start here */
.footer {
  background-color: #F7F7F7;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  /* margin: 0 auto; */
  margin: 0px 0px 10px 80px;
  gap: 10px;
}

.footer-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-section h4 {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-section ul li {

  margin-left: 0px;
  margin-top: 8px;
}

.footer-section ul li a {
  color: #666;
  text-decoration: none;
  font-size: 14px;
}
.footer-section ul li a:hover{
  cursor: pointer;
  text-decoration: none;
  color: #313131;
}

.footer-section ul li a:hover {
  text-decoration: none;
}

.flag-lang {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.flag-lang img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.footer-section_socials{
  display: flex;
  flex-direction: column;
}
.footer-section_socials img{
  width: 137px;
  height: 40px;
  margin: 10px 0px 0px 0px;
}
.footer-section_socials ul{
 display: flex;
 justify-content: flex-start;
 /* background-color: #666; */
 gap: 10px;
 margin-left: -37px;
 margin-top: 0px;
}

.footer-section_socials ul li{
  list-style: none;
  color: #262626;  
}
.footer-section_socials ul li a{
  color: black;
  width: 22px;
  height: 22px;
}
.footer-section_socials ul li:hover{
  text-decoration: none;
}
.flag-lang button {
  background-color: transparent;
  border: none;
  margin-right: 10px;
  color: #666;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #999;
  font-size: 12px;
  /* background-color: #007bff; */
  width: 1400px;
}

.footer-bottom p {
  width: 86vw;
  color: #474747;
  margin: 10px 0;
  font-size: 15px;
  word-spacing: 3px;
}

.language_input{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: 76px;
}
.inner_lang_input{
  display: flex;
  justify-content: space-between;
  width: 250px;
  
}
 .nation{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 8px;
  width: 108px;
  height: 42px;
  background-color: #F7F7F7;
}
.nation:hover{
  cursor: pointer;
}
.nation img{
  width: 25px;
  height: 17px;
}
.language{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 8px;
  height: 42px;
  width: 110px;
  background-color: #F7F7F7;
}
.language:hover{
  cursor: pointer;
}
#country{
  font-size: 15px;
  border: none;
  background-color: #F7F7F7;
}
#country:hover{
  cursor: pointer;
}
#language-inner{
  font-size: 15px;
  border: none;
  width: 75px;
  background-color: #F7F7F7;

}
#language-inner:hover{
  cursor: pointer;
}

hr{
  margin-top: 45px;
  width: 88vw;
}